/* common(共通なので消し) */
/* .under_title.inner {
  margin: 0 20px;
  padding: 60px 0;
  border-bottom: 1px solid #7b850b;
}
@media (min-width: 768px) {
  .under_title.inner {
    padding: 100px 0;
  }
}
.under_wrap_title p {
  color: #7b850b;
  font-family: rollerscript-rough, sans-serif;
  font-size: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .under_wrap_title p {
    font-size: 48px;
  }
} */
.header_img_bg {
    background-image: url(../img/under_beans.JPG);
    background-size: cover;
    background-repeat: no-repeat;
}
/* under_about用*/
.under_about_sec_title {
    padding: 5px;
    font-family: "Shippori Mincho B1";
    font-size: 16px;
    border-left: #7b850b 5px solid;
    text-align: start;
}
@media (min-width: 768px) {
    .under_about_sec_title {
        font-size: 24px;
    }
}
.under_about_text {
    font-size: 16px;
    text-align: justify;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .under_about_text {
        font-size: 20px;
    }
}
