@charset "utf-8";
/* ======================================================== */
/* ニュース個別記事 */

/* ======================================================== */

.news_page_level1_heading {
    margin-bottom: 20px;
    font-size: clamp(20px, 2.3vw, 30px);
    text-align: left;
}
@media (min-width: 768px) {
    .news_page_level1_heading {
        margin-bottom: 50px;
    }
}
/* 左よこ縦棒 */
/* h2 */
.news_page_level2_heading {
    padding: 5px 5px 5px 10px;
    font-family: "Shippori Mincho B1";
    font-size: 18px;
    border-left: #7b850b 7px solid;
    margin-bottom: 10px;
    line-height: 1.8;
    text-align: left;
}
@media (min-width: 768px) {
    .news_page_level2_heading {
        font-size: 20px;
        margin-bottom: 30px;
    }
}
.news_page_post_meta {
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .news_page_post_meta {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
    }
}
.news_page_post_date {
    margin-bottom: 5px;
}

.news_page_post_category_wrap {
    display: flex;
    margin-bottom: 30px;
}
.news_page_post_category_news a {
    display: block;
    margin-right: 10px;
    padding: 0.3em 0.5em;
    background-color: #fff;
    border: 1px solid currentColor;
    color: #542912;
}
.news_page_post_category_update a {
    display: block;
    margin-right: 10px;
    padding: 0.3em 0.5em;
    background-color: #542912;
    border: 1px solid #542912;
    color: #fff;
}

.news_page_text_wrap {
    margin-bottom: 30px;
}
.news_page_text {
    font-size: 14px;
    text-align: justify;
    line-height: 1.5;
}
@media (min-width: 768px) {
    .news_page_text_wrap {
        margin-bottom: 80px;
        padding: 15px;
    }
    .news_page_text {
        font-size: 16px;
    }
}

/* ▼ページナビゲーション▼ */
.news_page_navigation {
    display: flex;
    justify-content: space-between;
}
.news_page_prev a,
.news_page_next a {
    display: block;
    padding: 0.8em;
}
@media (min-width: 768px) {
    .news_page_prev a,
    .news_page_next a {
        font-size: 16px;
    }
}

/* ▼サイドバー▼ */
.column2_aside {
    font-family: "Shippori Mincho B1", serif;
}
.column2_aside .wrap {
    height: 100%;
}
.column2_aside .inner {
    height: 100%;
}
.side_title {
    margin-bottom: 50px;
}

/* h2 */
.side_title {
    display: block;
    margin-bottom: 10px;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 18px;
    text-align: left;
}
@media (min-width: 768px) {
    .side_title {
        font-size: 20px;
    }
}
.side_lists {
    margin-bottom: 40px;
}
.side_lists .list a {
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #542912;
}
.side_lists .list {
    position: relative;
    font-size: 16px;
}
.side_lists .list::after {
    content: "\f054";
    position: absolute;
    top: 35%;
    right: 1em;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: all 0.5s;
}
.side_lists .list:hover:after {
    transform: translateX(1em);
}
/* サイドバー横に出現、順番入れ替え */
@media (min-width: 768px) {
    .column2_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .column2_article {
        order: 1;
        flex-basis: 65%;
    }
    .column2_aside {
        order: 2;
        flex-basis: 35%;
    }
    .recommend {
        order: 3;
        flex-basis: 100%;
    }
    /* アクセスMAPの下部と揃った状態でsticky終わるよう調整 */
    #news_single_under .column2_aside .inner {
        padding: 160px 25px 100px;
    }
}
/* サイドバー追従 */
@media (min-width: 768px) {
    /* 名前変更 */
    aside {
        display: block;
    }
    .side_scrool {
        position: sticky;
        position: -webkit-sticky;
        top: 100px;
    }
}
