@charset "utf-8";

/* ======================================================== */
/* base_style */

/* ========================= */
/* commonに入っているコンポーネント */
/* ========================= */
/* ヘッダー */
/* 下層のタイトルエリア */
/* ハンバーガーメニュー */
/* ドロワーメニュー */
/* storeカード */
/* columnカード */
/* newsカード */
/* aside */
/* ボタンとその動き */
/* フッター */
/* toptobutton */

/* ======================================================== */
/* base_style */
body {
  color: #542912;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  overflow-wrap: break-word;
}

body.fixed {
  position: fixed;
  width: 100%;
}

h1 {
  font-family: "Shippori Mincho B1", serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 768px) {
  h1 {
    font-size: 28px;
  }
}

h2 {
  font-family: "Shippori Mincho B1", serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
@media (min-width: 768px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-family: "Shippori Mincho B1", serif;
  font-size: 16px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 22px;
  }
}

img {
  max-width: 100%;
  object-fit: cover;
}

iframe {
  max-width: 100%;
}

a {
  cursor: pointer;
}

a :hover img {
  transform: scale(1.05);
}

/* fuji button追加は不具合あるか */
a img,
article,
button {
  transition: 0.3s ease-in-out;
}

.wrap {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .wrap {
    max-width: 1100px;
    margin: 0 auto;
  }
}

.inner {
  padding: 40px 20px 60px;
}
@media (min-width: 768px) {
  .inner {
    padding: 100px 25px;
  }
}

section:nth-of-type(even) {
  background-color: #f6f4ef;
}

.wrap_title {
  margin-bottom: 60px;
}
.wrap_title p {
  color: #7b850b;
  font-family: rollerscript-rough, sans-serif;
  font-size: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .wrap_title p {
    font-size: 48px;
  }
}

.wrap_text {
  margin-bottom: 40px;
  text-align: center;
  line-height: 1.85;
}
@media (min-width: 768px) {
  .wrap_text {
    margin: 0 auto;
    margin-bottom: 68px;
    width: 745px;
    text-align: center;
    font-size: 16px;
    line-height: 2.375;
  }
}

/* ======================================================= */
/* ヘッダー */
.header_img_bg {
  background-image: url(../img/under_news_column.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header_wrap {
  width: 100%;
  height: 0;
}
.header_inner {
  padding: 0 20px;
  height: 100%;
}

@media (min-width: 768px) {
  .header_inner_bg {
    width: 100vw;
    /* height: 60px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
  }
}

.header_wrap_box {
  transition: 1s ease-in-out;
  margin-right: -20px;
  /* height: 45px; */
}
@media (min-width: 768px) {
  .header_wrap_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.header_wrap_box > a {
  display: block;
  position: fixed;
  /* top: 0;
  left: 10px; */
  top: 10px;
  left: 10px;
  z-index: 999;
}
@media (min-width: 768px) {
  .header_wrap_box > a {
    position: static;
    padding: 5px;
  }
}

.header_wrap_box > a img {
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .header_wrap_box > a img {
    width: 55px;
    height: 55px;
  }
}
@media (min-width: 1280px) {
  .header_wrap_box_icon {
    left: calc(50% - 625px);
  }
}

.header_nav_wrap {
  display: none;
}
@media (min-width: 768px) {
  .header_nav_wrap {
    display: block;
    /* margin: 20px 10px 0 0; */
  }
}

@media (min-width: 768px) {
  .header_nav_list {
    display: flex;
    color: #fff;
    z-index: 999;
  }
  .header_nav_list li a {
    display: block;
    position: relative;
    padding: 10px 15px;
    font-family: "Shippori Mincho B1", serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  .header_nav_list li a::after {
    position: absolute;
    bottom: -8px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .header_nav_list li a:hover:after {
    bottom: -4px;
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 1280px) {
  .header_nav_list {
    right: calc(50% - 625px);
  }
}

@media (min-width: 768px) {
  .bgc_white {
    background-color: #fff;
  }
  .header_nav_list.cha_col {
    color: #542912;
  }
  /* .cha_col {
    color: #542912;
  } */
}

@media (min-width: 768px) {
  .up {
    animation: upani 0.5s ease forwards;
  }
  @keyframes upani {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-70px);
    }
  }
  .down {
    animation: downani 1s ease forwards;
  }
  @keyframes downani {
    0% {
      transform: translateY(-70px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

/* ======================================================= */
/* 下層タイトルエリア */
.header_img_bg {
  height: clamp(80px, 20vw, 200px);
  box-shadow: 0px 9px 16px -12px rgba(0, 0, 0, 0.6);
}
.under_title.inner {
  margin: 0 20px;
  padding: 60px 0;
  border-bottom: 1px solid #7b850b;
}
@media (min-width: 768px) {
  .under_title.inner {
    padding: 100px 0;
  }
}
.under_wrap_title p {
  color: #7b850b;
  font-family: rollerscript-rough, sans-serif;
  font-size: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .under_wrap_title p {
    font-size: 48px;
  }
}
/* ======================================================= */
/* ハンバーガーメニュー */
.header_wrap_box_nav {
  position: fixed;
  /* top: 0;
  right: 0; */
  top: 10px;
  right: 10px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #041526;
}
@media (min-width: 768px) {
  .header_wrap_box_nav {
    display: none;
  }
}
.header_wrap_box_nav_line {
  display: block;
  width: 18px;
  height: 2px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s;
}
.header_wrap_box_nav_line:nth-of-type(2) {
  position: absolute;
  bottom: 16.5px;
}
.header_wrap_box_nav_line:nth-of-type(3) {
  position: absolute;
  top: 16.5px;
}
.header_wrap_box_nav_line:nth-of-type(1).active {
  opacity: 0;
}
.header_wrap_box_nav_line:nth-of-type(2).active {
  transform: translateY(-5px) rotate(45deg);
}
.header_wrap_box_nav_line:nth-of-type(3).active {
  transform: translateY(5px) rotate(-45deg);
}
/* ======================================================= */
/* ドロワーメニュー */
.drower {
  display: none;
}
@media (min-width: 768px) {
  .drower {
    display: none;
  }
}
/* ↓jsで.visible付け外し */
.drower.visible {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  overflow-y: auto;
  background-color: #041526;
  font-family: "Shippori Mincho B1", serif;
}
.drower .wrap {
  height: 100%;
}
.drower .inner {
  height: 100%;
}
.drower_nav_logo {
  width: 67%;
  margin: 0 auto 30px;
  width: 284px;
}
.drower_nav {
  color: #fff;
  text-align: center;
}
.drower_nav_box {
  margin-bottom: 60px;
}
.drower_nav_box li a {
  display: inline-block;
  padding: 1em;
  font-size: 16px;
}
.drower_nav_box li + li {
  border-left: 1px solid #fff;
}
.drower_nav_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.drower_nav_list li a {
  padding: 1em 3.5em;
  font-size: 16px;
}
.drower_nav_list a {
  display: inline-block;
}
.drower_nav_insta {
  padding: 1em 3.5em;
  color: #fff;
}

/* ======================================================= */
/* store_card */
.sp_stores_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .sp_stores_cards {
    display: none;
  }
}
.sp_stores_cards::after {
  display: block;
  content: "";
  flex-basis: calc((100% - 3%) / 2);
}
.sp_stores_cards .stores_card {
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex-basis: calc((100% - 3%) / 2);
}
.sp_stores_cards .stores_card:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.sp_stores_cards .text_inner {
  width: 90%;
  margin: 8px auto;
}
.sp_stores_cards .stores_name {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}
.sp_stores_cards .stores_catch {
  margin-bottom: 8px;
  /* min-height: 60px; */
  font-size: 14px;
  border-bottom: solid 1px #542912;
}

.pc_stores_cards {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0 0;
  max-width: 1100px;
}
@media (min-width: 768px) {
  .pc_stores_cards {
    display: flex;
  }
  .pc_stores_cards::after {
    display: block;
    content: "";
    width: 31%;
    max-width: 280px;
  }
}

.pc_stores_cards .stores_card {
  position: relative;
  width: 31%;
  max-width: 280px;
}

.pc_stores_cards .stores_card {
  margin-bottom: 20px;
}
.pc_stores_cards .stores_card:nth-last-of-type(-n + 3) {
  margin-bottom: 0;
}
.pc_stores_cards .front_card {
  position: absolute;
  z-index: 10;
}

.pc_stores_cards .stores_img {
  position: relative;
  width: 95%;
  height: auto;
}

.pc_stores_cards .text_inner {
  width: 95%;
  padding: 8px;
  border-radius: 0 0 5px 5px;
  background-color: #041526;
  transform: translate(100% 0);
}

.pc_stores_cards .stores_name {
  margin-bottom: 0.5rem;
  color: #fff;
  font-size: 16px;
}

.pc_stores_cards .stores_catch {
  color: #fff;
  font-size: 14px;
}

.pc_stores_cards .back_card {
  position: relative;
  margin: 2rem -10px 10px;
  width: 95%;
  left: 16px;
  background-color: #fff;
  padding: 80% 20px 10px;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.sp_stores_cards figure,
.pc_stores_cards figure {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
.stores_card:hover img {
  transform: scale(1.05);
}
.stores_card:hover .back_card {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

/* ======================================================= */
/* column_card */

@media (min-width: 768px) {
  .card_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 30px;
  }
}

.column_wrap {
  margin: 0 auto;
  border-radius: 3px;
}

.column_wrap:hover {
  box-shadow: 0 0 15px #542912;
}
/* .column_wrap:hover img {
  transform: scale(1.05);
} */
@media (min-width: 768px) {
  .column_wrap {
    margin: 0 auto;
    max-width: 280px;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 15%);
  }
}
.column_wrap + .column_wrap {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .column_wrap + .column_wrap {
    margin-top: 0;
  }
}

.column_inner {
  position: relative;
  display: flex;
}
@media (min-width: 768px) {
  .column_inner {
    display: block;
  }
}
.column_link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.column_img_wrap {
  min-width: 100px;
  overflow: hidden;
  border-radius: 3px;
}

@media (min-width: 768px) {
  .column_img_wrap {
    width: 100%;
    border-radius: 3px 3px 0 0;
  }
}
.column_img_wrap img {
  width: 150px;
  height: 112.5px;
  object-fit: contain;
}
@media (min-width: 768px) {
  .column_img_wrap img {
    width: 100%;
    height: 100%;
  }
}
.column_meta {
  flex-basis: 65%;
  margin-left: 10px;
  border-bottom: 1px solid #7b850b;
}
@media (min-width: 768px) {
  .column_meta {
    margin-left: 0;
    padding: 10px 18px 16px;
    border-bottom: none;
  }
}
.categories_wrap {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .categories_wrap {
    margin: 0 0 10px 0;
  }
}

.column_date {
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
}

.categories {
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 12px;
  background-color: #f6f4ef;
}
@media (min-width: 768px) {
  .categories {
    font-size: 14px;
  }
}

.column_meta h3 {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .column_meta h3 {
    font-size: 20px;
    border-bottom: 1px solid #7b850b;
    padding-bottom: 15px;
    margin-bottom: 8px;
  }
}

.column_text {
  display: none;
  margin-bottom: 10px;
  font-size: 14px;
}
@media (min-width: 768px) {
  .column_text {
    display: block;
  }
}

/* ======================================================= */
/* news_card */

/* ======================================================= */
.news_wrap_card {
  margin-bottom: 20px;
  padding: 10px;
  border-bottom: 1px solid #7b850b;
}
.news_wrap_card:last-child {
  margin-bottom: 0;
}
.news_wrap_card_icon {
  flex-basis: 42px;
  text-align: center;
}
.news_wrap_card_inner {
  display: block;
  margin-left: 1%;
  padding: 0.5em;
}
.news_card_meta {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}
.news_date {
  display: block;
}
.category_update {
  display: block;
  margin-left: 10px;
  padding: 0.3em 0.5em;
  background-color: #542912;
  border: 1px solid #542912;
  color: #fff;
}
.category_news {
  display: block;
  margin-left: 10px;
  padding: 0.3em 0.5em;
  background-color: #fff;
  border: 1px solid currentColor;
  color: #542912;
}
.news_text {
  display: block;
  margin-bottom: 6px;
  padding: 5px;
  transition: all 0.5s;
}

.news_text:hover {
  background-color: #fff;
}
.news_title {
  margin-bottom: 6px;
}
.news_desc {
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .news_wrap_cards {
    max-width: 800px;
    margin: 0 auto;
  }
}

/* ▼サイドバー▼ */
.column2_aside {
  font-family: "Shippori Mincho B1", serif;
}
.column2_aside .wrap {
  height: 100%;
}
.column2_aside .inner {
  height: 100%;
}
.side_title {
  margin-bottom: 50px;
}

/* h2 */
.side_title {
  display: block;
  margin-bottom: 10px;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 18px;
  text-align: left;
}
@media (min-width: 768px) {
  .side_title {
    font-size: 20px;
  }
}
.side_lists {
  margin-bottom: 40px;
}
.side_lists .list a {
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #542912;
}
.side_lists .list {
  position: relative;
  font-size: 16px;
}
.side_lists .list::after {
  content: "\f054";
  position: absolute;
  top: 35%;
  right: 1em;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  transition: all 0.5s;
}
.side_lists .list:hover:after {
  transform: translateX(1em);
}

@media (min-width: 768px) {
  .column2_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .column2_article {
    order: 1;
    flex-basis: 65%;
  }
  .column2_aside {
    order: 2;
    flex-basis: 35%;
  }
  .recommend {
    order: 3;
    flex-basis: 100%;
  }
  #news_single_under .column2_aside .inner {
    padding: 160px 25px 100px;
  }
}
.column_item_btn {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .inner.column_item_inner {
    padding: 40px 25px 100px;
  }
  .column_item_btn {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
/* サイドバー追従 */
@media (min-width: 768px) {
  aside {
    display: block;
  }
  .side_scrool {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
  }
}

/* ======================================================= */
/* btn*/
.btn_wrap {
  margin: 40px auto 0;
  max-width: 220px;
}

.btn_link {
  display: block;
  width: 100%;
  padding: 16px 32px;
  background-color: #041526;
  border-radius: 3px;
  text-align: center;
  font-family: "Shippori Mincho B1", serif;
  transition: 0.3s ease-in-out;
  color: #fff;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.35);
}

.btn_link:hover {
  background-color: #fff;
  color: #041526;
}
@media (min-width: 768px) {
  .btn_wrap {
    margin: 100px auto 0;
    max-width: 250px;
  }
  .btn_link {
    padding: 20px 0;
    font-size: 20px;
  }
}

/* ======================================================= */
/* フッター */
footer {
  background-color: #041526;
}
.footer_logo {
  width: 53%;
  min-width: 280px;
  margin: 0 auto 16px;
  transition: 0.3s;
}
.footer_logo:hover {
  opacity: 0.8;
  transform: scale(1.02);
}
.footer_nav {
  margin-bottom: 55px;
  text-align: center;
}
.footer_nav_flex {
  display: flex;
  justify-content: center;
  text-align: left;
}
.footer_nav .footer_nav_list li a {
  display: inline-block;
  padding: 10px 10px;
  margin-bottom: 10px;
  font-family: "Shippori Mincho B1", serif;
  font-size: 14px;
  color: #fff;
}
.footer_nav_list_left {
  margin-right: 15px;
}

.footer_insta_icon {
  padding: 10px 10px;
  color: #fff;
}
@media (min-width: 768px) {
  .footer_nav .footer_nav_list li a {
    font-size: 16px;
  }

  .footer_nav_list_left {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  footer .inner {
    padding: 75px 25px 25px;
  }
  .footer_nav {
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer_flex {
    display: flex;
    margin: 0 auto;
    max-width: 850px;
  }
  .footer_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 24px 24px 24px 0;
    border-left: 1px solid #fff;
    text-align: left;
  }
  .footer_logo {
    width: 320px;
    margin-top: 60px;
  }
  .footer_nav .footer_nav_list:last-of-type {
    margin-left: 36px;
  }
  .footer_insta_icon {
    margin-left: 36px;
  }
}
.footer_wrap_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  color: #fff;
}
.footer_nav_flex a {
  position: relative;
  display: inline-block;
}
.footer_nav_flex a::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.footer_nav_flex a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}
.footer_insta_icon a::after {
  content: none;
}
.fa-instagram {
  transition: 0.5s;
}
.fa-instagram:hover {
  transform: scale(1.3);
}

/* topbutton */
.scroll_anime {
  display: none;
}
@media (min-width: 768px) {
  .scroll_anime {
    display: block;
  }
}
.scroll-top {
  right: 20px;
  bottom: 10px;
  z-index: 2;
  position: fixed;
  writing-mode: vertical-rl;
  white-space: nowrap;
  animation: arrowmove 0.5s ease-in-out infinite;
  transition: opacity 0.5s, visibility 0.5s;
}
@keyframes arrowmove {
  0% {
    bottom: 60px;
  }
  50% {
    bottom: 65px;
  }
  100% {
    bottom: 60px;
  }
}
.scroll-top p {
  text-decoration: none;
  color: #7b850b;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
  cursor: pointer;
}
.js-scroll .arrow::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background: #7b850b;
}
.js-scroll .arrow::before {
  content: "";
  position: absolute;
  top: 30px;
  right: -6px;
  width: 1px;
  height: 20px;
  background: #7b850b;
  transform: skewX(-31deg);
}
.js-pagetop .arrow::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 50px;
  background: #7b850b;
}
.js-pagetop .arrow::before {
  content: "";
  position: absolute;
  top: 0;
  right: -6px;
  width: 1px;
  height: 20px;
  background: #7b850b;
  transform: skewX(31deg);
}
@media (min-width: 768px) {
  .none {
    display: none;
  }
}

/* pagination */
.pagination_wrap {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.pagination li {
  display: inline-block;
  padding: 10px 15px;
  border: 1px #ccc solid;
  color: #000053;
  border-radius: 5px / 5px;
}
.pagination .pagination_1 {
  background-color: #777;
  color: #fff;
}
