/* common(共通なので消し) */
/* .under_title.inner {
  margin: 0 20px;
  padding: 60px 0;
  border-bottom: 1px solid #7b850b;
}
@media (min-width: 768px) {
  .under_title.inner {
    padding: 100px 0;
  }
}
.under_wrap_title p {
  color: #7b850b;
  font-family: rollerscript-rough, sans-serif;
  font-size: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .under_wrap_title p {
    font-size: 48px;
  }
} */
.header_img_bg {
  background-image: url(../img/under_store.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}
/* section見出し */
.privacy_sec_title {
  padding: 5px;
  font-family: "Shippori Mincho B1";
  font-size: 16px;
  border-left: #7b850b 5px solid;
  text-align: start;
}
@media (min-width: 768px) {
  .privacy_sec_title {
    font-size: 24px;
  }
}
.privacy_sec_title span {
  margin-left: 16px;
}
@media (min-width: 768px) {
  .privacy_sec_title span {
    margin-left: 24px;
  }
}

.privacy_text {
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .privacy_text {
    font-size: 20px;
  }
}

.inner {
    padding: 30px 25px;
}
.wrap_title {
    margin-bottom: 10px;
}
.wrap_text {
    margin-bottom: 0px;
}
@media (min-width: 768px){
.wrap_text {
    margin-bottom: 0;
}
.wrap_title {
    margin-bottom: 20px;
}
.inner {
    padding: 40px 25px;
}
}