@charset "utf-8";
/* ======================================================== */
/* ニュース一覧 */

/* ======================================================== */
/* 新着情報 */
/* .column2_article {
  flex-basis: 70%;
} */
#news_under .header_img_bg {
    background-image: url(../img/under_news_column.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.column2_article .wrap_text {
    text-align: left;
}
@media (min-width: 768px) {
    #news_under .column2_aside .inner {
        padding-top: 100px;
    }
}

/* .news_wrap_card {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #7b850b;
}
.news_wrap_card:last-child {
    margin-bottom: 0;
}
.news_wrap_card_icon {
    flex-basis: 42px;
    text-align: center;
}
.news_wrap_card_inner {
    display: block;
    margin-left: 1%;
    padding: 0.5em;
}
.news_card_meta {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.news_date {
    display: block;
}
.category_update {
    display: block;
    margin-left: 10px;
    padding: 0.3em 0.5em;
    background-color: #542912;
    border: 1px solid #542912;
    color: #fff;
}
.category_news {
    display: block;
    margin-left: 10px;
    padding: 0.3em 0.5em;
    background-color: #fff;
    border: 1px solid currentColor;
    color: #542912;
}
.news_text {
    display: block;
    margin-bottom: 6px;
    padding: 5px;
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .news_text:hover {
        background-color: #f6f4ef;
    }
}
.news_title {
    margin-bottom: 6px;
}
.news_desc {
    line-height: 1.5em;
}
@media (min-width: 768px) {
    .news_wrap_cards {
        max-width: 800px;
        margin: 0 auto;
    }
} */

.news_text:hover {
    background-color: #f6f4ef;
}

/* ===================== ↓more_btn関係 ===================== */

.more_btn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: 0 0 50px;
    text-align: right;
}
.more_btn::after {
    content: "\f054";
    position: absolute;
    top: 10%;
    right: 9px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    z-index: -1;
}

.more_btn button {
    display: inline-block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-right: 30px;
}

@media (min-width: 768px) {
    .more_btn {
        margin: 60px 0 0;
        text-align: right;
    }
    .sp_more_btn {
        display: none;
    }
}
@media (max-width: 767px) {
    .pc_more_btn {
        display: none;
    }
}

/* moreボタンでさらに表示 */
.news_wrap_cards li {
    opacity: 1;
    transition: all 0.4s ease 0s;
    overflow: hidden;
}
.news_wrap_cards li.is-hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    margin: 0 10px;
    padding: 0;
}
